

header{
	background: linear-gradient(135deg, #69b8f0 0%, #bd8bf1 81%, #C2C8FF 100%); 
box-shadow: 3px 2px 30px -3px rgba(19, 1, 1, 0.541);
h1 {
font-weight: bold;
  width:min-content;
  margin :auto;
  font-size: 5em;
  padding: 1.5%;
	color: #faeafa;
	text-shadow: -1px 2px 5px rgba(17, 14, 14, 0.72)
}
}

