
.history{
 padding-left: 8%;

 width:75%;
 pre{
  cursor: pointer;
 }

 .query{
  display: grid;
  border:rgb(51, 0, 53) 1px solid;
 }

 div:hover{
   background-color: rgb(226, 207, 245);
   border-radius: 7px;
 }
 button{
   display: inline;
   cursor: pointer;
 }
}
