
.results-sec {
  border-top: 6px groove rgba(71,58,145,0.85);
  border-bottom: 6px groove rgba(71,58,145,0.85);
  padding: 5% 0;
  display: grid;
  grid-template-columns: 45% 60%;
  margin-top:4em;
}

.response {
padding-right: 20em;}